.alert {
    margin-top: 20px;
}

.img-flag-detail {
    height: 100px !important;
    width: 150px !important;
  }

  .img-coatOfArms {
    height: 80px !important;
    width: 100px !important;
  }

  
.margin-badge {
    margin-left: 10px;
  }