<h3>Buscar por Región <small> {{regionActiva | titlecase}} </small></h3>
<hr>
<h5>Seleccione Región</h5>

 <!-- [class.btn-primary]="region=== regionActiva" -->

<!-- [ngClass]="{
    'btn-primary': regionActiva === region,
    'btn-outline-primary': regionActiva !== region
}" -->
<div class="animate__animated animate__fadeIn animate__faster">
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" 
                    [class]="getRegionCSS(region)"
                    (click)="activarRegion(region)" >
                    {{region | titlecase}}
            </button>
        </div>
    </div>
    
    <hr>
</div>
<div *ngIf="hayError" class="alert alert-danger" role="alert">
   No se encontró nada con el término  {{termino}}
</div>
<div *ngIf="paises.length>0">
 <app-pais-tabla [paises] ="paises"></app-pais-tabla>
</div>

